@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background: url(./src/assets/tailwind-grid.svg) center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #64748b;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
